@import '../base/fonts.scss';
@import '../base/colors.scss';

// FEED ITEM COMMENTS INDEX

.activity-comments-container {

  .comments-index {
    float: left;

    .comments-list {
      border-left: 1px solid $medium-gray;
      border-right: 1px solid $medium-gray;
      border-top: 1px solid $medium-gray;
      display: block;
      margin-left: -1px;
      width: 681px;

      .comment-index-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 5px 0 0 0;

        .comment-date {
          margin: 3px;
        }
      }
    }
  }
}

// FEED ITEM, ROUTE, AND RUN COMMENTS

.comment-author-img {
  height: 58px;
  margin-left: 5px;
  width: 58px;

  img {
    border: 1px solid $medium-gray;
  }

  img:hover {
    border: 1px solid $tab-blue;
    transition: all .2s ease-out;
  }
}

.delete-comment {
  color: $medium-gray;
  margin-right: 15px;

  button:hover {
    color: $dark-gray;
    transition: all .2s ease-out;
  }
}

.comment-details {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  width: 100%;

  .comment-vertical-flex-container {
    display: flex;
    flex-flow: column;
  }
}

.comment-author-name-and-comment-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 3px;

  p {
    font-size: 13px;
    margin-top: 3px;
  }

  a {
    margin-right: 3px;
    text-decoration: none;

    p {
      -webkit-font-smoothing: antialiased;
      color: $midSoul-blue;
      font-weight: bold;
    }

    p:hover {
      color: $hover-blue;
    }
  }
}


// ROUTE AND RUN COMMENTS

.route-show-comments, .run-show-comments {

  .comment-author-name-and-comment-body {
    a {
      margin-left: 5px;
    }
  }

  .comment-index-item {
    border-bottom: 1px solid $medium-gray;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px 0 0 0;
    margin-top: 15px;
    padding-bottom: 15px;

    .comment-date {
      font-size: 12px;
      margin: 3px;
      padding-left: 4px;
    }
  }
}



// FEED ITEM COMMENT FORM

.activity-comments-container {

  .new-comment-container {
    float: left;
  }

  .new-comment-form-container {
    border-bottom: 1px solid $medium-gray;
    border-left: 1px solid $medium-gray;
    border-right: 1px solid $medium-gray;
    margin: 0;
    margin-left: -1px;
    padding-top: 3px;
    width: 681px;
  }
}



// FEED ITEM, RUN, AND ROUTE COMMENT FORM

.new-comment-textarea-and-submit-and-user-img {
  align-items: center;
  display: flex;
  flex-direction: row;

  a {
    margin-left: 5px;

    img {
      border: 1px solid $medium-gray;
      height: 52.66px;
      margin-bottom: 3px;
      margin-right: 15px;
      width: 52.66px;
    }

    img:hover {
      border: 1px solid $tab-blue;
      transition: all .2s ease-out;
    }
  }

  input[type=text] {
    border: 1px solid $medium-gray;
    border-radius: 3px;
    height: 31px;
    margin-right: 15px;
    padding-left: 5px;
    width: 482px;
  }

  input[type=text]:focus {
    border: 1px solid $teal;
    transition: all .3s ease-out;
  }

  input[type=submit] {
    border: 1px solid $teal;
    border-radius: 3px;
    color: $teal;
    font-size: 15px;
    font-weight: bold;
    height: 34px;
    text-align: center;
    text-transform: uppercase;
    width: 76px;
  }

  input[type=submit]:hover {
    border: 1px solid $hover-teal;
    border-radius: 3px;
    color: $hover-teal;
    height: 34px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    transition: all .3s ease-out;
    width: 76px;
  }
}
