@import '../base/fonts.scss';
@import '../base/colors.scss';

.activity-comments-container {

  .activity-comments {

    .comments-index {
      float: left;

      .comments-list {
        display: block;
        border-left: 1px solid $medium-gray;
        border-top: 1px solid $medium-gray;
        border-right: 1px solid $medium-gray;
        width: 681px;
        margin-left: -1px;

        .comment-index-item {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          margin: 5px 0 0 0;

          .comment-author-img {
            width: 58px;
            height: 58px;
            margin-left: 5px;

            img {
              border: 1px solid $medium-gray;
            }

            img:hover {
              border: 1px solid $tab-blue;
              transition: all .2s ease-out;
            }
          }

          .comment-details {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-left: 5px;

            .comment-vertical-flex-container {
              display: flex;
              flex-flow: column;

              .comment-date {
                margin: 3px;
              }

              .comment-author-name-and-comment-body {
                margin-left: 3px;
                display: flex;
                flex-direction: row;
                font-size: 12.1px;

                p {
                  margin-top: 3px;
                }

                a {
                  text-decoration: none;
                  color: $midSoul-blue;
                  margin-right: 3px;

                  p {
                    -webkit-font-smoothing: antialiased;
                    font-weight: bold;
                  }
                }

                a:hover {
                  color: $hover-blue;
                }
              }
            }
          }

          .delete-comment {
            margin-right: 15px;
            color: $medium-gray;

            button:hover {
              color: $dark-gray;
              transition: all .2s ease-out;
            }
          }
        }
      }
    }

    .new-comment-container {
      float: left;
    }

    .new-comment-form-container {
      width: 681px;
      border-bottom: 1px solid $medium-gray;
      border-left: 1px solid $medium-gray;
      border-right: 1px solid $medium-gray;
      margin: 0;
      padding-top: 3px;
      margin-left: -1px;

      .new-comment-textarea-and-submit-and-user-img {
        display: flex;
        flex-direction: row;
        align-items: center;

        a {
          margin-left: 5px;

          img {
            width: 52.66px;
            height: 52.66px;
            margin-right: 15px;
            margin-bottom: 3px;
            border: 1px solid $medium-gray;
          }

          img:hover {
            border: 1px solid $tab-blue;
            transition: all .2s ease-out;
          }
        }

        input[type=text] {
          border: 1px solid $medium-gray;
          border-radius: 3px;
          margin-right: 15px;
          padding-left: 5px;
          height: 31px;
          width: 482px;
        }

        input[type=text]:focus {
          border: 1px solid $teal;
          transition: all .3s ease-out;
        }

        input[type=submit] {
          border: 1px solid $teal;
          border-radius: 3px;
          width: 76px;
          height: 34px;
          text-align: center;
          color: $teal;
          font-weight: bold;
          font-size: 15px;
        }

        input[type=submit]:hover {
          border: 1px solid $hover-teal;
          border-radius: 3px;
          width: 76px;
          height: 34px;
          text-align: center;
          color: $hover-teal;
          font-weight: bold;
          font-size: 15px;
          transition: all .3s ease-out;
        }
      }
    }
  }
}
