@import '../base/fonts.scss';
@import '../base/colors.scss';

.community-container {
  padding: 30px;

  h2 {
    display: block;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
    padding: 15px;
    text-transform: uppercase;
  }


  .community-tabs-flex-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;

    a {
      background: $light-gray;
      border-left: 1px solid $medium-gray;
      border-radius: 2px;
      border-right: 1px solid $medium-gray;
      border-top: 1px solid $tab-blue;
      color: $tab-blue;
      font-size: 16px;
      padding: 10px 70px 10px 70px;
      text-decoration: none;
      text-transform: uppercase;
    }

    a:hover {
      background: $hover-light-gray;
    }

    .active {
      background: white;
      border-top: 2px solid $tab-blue;
    }
  }
}
