@import '../base/fonts.scss';
@import '../base/colors.scss';

.feed-index {
  h2 {
    padding: 15px;
    display: block;
    font-size: 32px;
    font-weight: bold;
  }
}

.feed-index-item {
  margin: 0 auto;
}

.feed-index-item-container {
  display: flex;
  align-content: flex-start;
  margin: 20px;
  border: 1px solid black;
  width: 95%;

  .feed-index-item-map {
    .img {
      width: 400px;
      height: 400px;
    }
  }

  .activity-details-flex-container {
    display:flex;
    flex-direction: column;
    padding-left: 10px;
    max-width: 50%;
    max-height: 400px;

    .mini-activity-description-flex-container {
      display: flex;
      align-content: flex-start;
      margin: 10px;
      background-color: white;

      .activity-date {
        font-weight: 500px;
      }

      h3 {
        padding-left: 10px;
        align-items: center;
      }

      h4 {
        padding-left: 10px;
        font-weight: 500;
      }

      .user-thumb-container {
        width: 100px;
        height:100px;
      }
    }

    .activity-comments {
      padding-top: 10px;
    }
  }
}
