@import '../base/fonts.scss';
@import '../base/colors.scss';


// EMPTY FEED

.empty-feed, .feed-index {
  h2 {
    color: $dark-gray;
    display: flex;
    font-size: 32px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 15px;
    padding: 15px;
    text-transform: uppercase;
  }
}

.empty-feed {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h4 {
    display: flex;
    font-size: 18px;
    justify-content: center;
  }
}


// FEED INDEX

.feed-index {
  min-width: 825px;

  .feed-items-list {
    display: flex;
    flex-direction: column;

    .feed-index-item {
      display: flex;
      justify-content: center;
    }
  }
}


// FEED INDEX ITEM

.feed-index-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 0 60px 0;

  .user-thumb-container {
    height:75px;
    margin-right: 13px;
    width: 75px;

    img {
      border: 1px solid $medium-gray;
      height: 75px;
      width: 75px;
    }

    img:hover{
      border: 1px solid $tab-blue;
    }
  }
}

.activity-details-flex-container {
  box-shadow: $medium-light-gray 2px 2px 0;
  width: 683px;
}

.activity-date-and-description-container {
  border: 1px solid $medium-gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .date-and-description {
    margin: 5px 0 0 10px;
  }

  .user-name-and-activity-description {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    width: 550px;
  }

  i {
    color: $dark-gray;
    font-size: 30px;
    margin-right: 25px;
  }

  img {
    height: 30px;
    margin: 20px 20px 0 0;
    width: 30px;
  }

  .fa-map-marker {
    align-items: center;
    display: flex;
    font-size: 29px;
  }
}

.activity-map-and-distance-container {
  display: flex;
  flex-direction: row;
}

.mini-activity-map {
  border-bottom: 1px solid $medium-gray;
  border-left: 1px solid $medium-gray;
  border-right: 1px solid $medium-gray;
  height: auto;
  width: 100%;
}

.activity-distance-container {
  align-items: center;
  background: $feeditem-background;
  border-bottom: 1px solid $medium-gray;
  border-left: 1px solid $medium-gray;
  border-right: 1px solid $medium-gray;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  width: 100%;

  p {
    color: $dark-gray;
    font-size: 35px;
    margin: 0;
  }

  .distance-icon-and-label {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    i {
      color: $teal;
      font-size: 30px;
    }

    p {
      color: $medium-gray;
      font-size: 13px;
      margin: 0;
      text-transform: uppercase;
    }
  }
}


// FEED INDEX ITEME COMMENTS

.activity-comments-container {
  background: $feeditem-background;
  border-bottom: 1px solid $medium-gray;
  border-left: 1px solid $medium-gray;
  border-right: 1px solid $medium-gray;
  height: 50px;

  .comment-icon-and-count {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding-left: 55px;

    i {
      color: $medium-gray;
      font-size: 25px;
      margin-right: 10px;
    }

    p {
      color: $medium-gray;
      font-size: 15px;
      font-weight: bold;
    }
  }

  .comment-icon-and-count:hover {
    background: $hover-gray;

    i {
      color: $midSoul-blue;
      cursor: pointer;
    }
  }
}
