@import '../base/fonts.scss';
@import '../base/colors.scss';

footer {
  color: $darker-gray;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 30px;
  padding: 25px;
  background: $lightest-gray;

  h3 {
    font-size: 18px;
    margin-bottom: 3px;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    li {
      padding: 5px 0 5px 0;
      font-size: 19px;
      color: $dark-gray;

      a {
        text-decoration: none;
        font-size: 17px;
        color: $dark-gray;
        padding-left: 10px;
      }

      a:visited {
        color: $medium-gray;
      }

      a:hover {
        text-decoration: underline;
        transition: 0.2s;
      }
    }
  }
}

.wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .app-nav-and-content-container {
    flex: 1;
    min-height: 100vh;
  }

  .app-footer {
    position: relative;
    margin-top: 155px;
    clear:both;
  }
}

.feature-footer-component-container {
  background: $lightest-gray;
  .feature-footer {
    padding-bottom: 27px;
    .feature-list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .feature-list-item {
        width: 250px;
        display: flex;
        justify-content: flex-start;;
        text-align: center;
        margin-top: 10px;
        padding: 15px;
        i {
          font-size: 80px;
          color: $midSoul-blue;
          padding: 5px;
        }

        .feature-header-and-description {
          display: flex;
          flex-direction: column;
          margin-left: 2px;
          h2 {
            font-size: 15px;
            font-weight: 600;
            color:$darker-gray;
          }
          p {
            color: $darker-gray;
            font-weight: 300;
            font-size: 12px;
          }
        }
      }
    }
  }
}
