@import '../base/fonts.scss';
@import '../base/colors.scss';


// EMPTY FRIENDS

.empty-friends, .empty-friend-requests {

  h4 {
    color: $medium-gray;
    display: flex;
    font-size: 15px;
    justify-content: flex-start;
    margin-top: 35px;
    margin-left: 16px;
  }
}


// FRIENDS INDEX

.friends-index {
  padding: 35px 15px 35px 15px;

  .mini-friend-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}


// FRIENDS INDEX ITEM

.friend-index-item {
  background: $lightest-gray;
  border: 1px solid $light-gray;
  box-shadow: $light-gray 2px 2px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 20px 20px 0;
  width: 384px;

  .friend-photo-link {
    align-items: center;
    display: flex;
    padding: 10px;

    img {
      border: 1px solid $medium-gray;
    }

    img:hover {
      border: 1px solid $midSoul-blue;
    }
  }

  .friend-name-link {
    align-items: center;
    cursor: default;
    display: flex;
    padding: 10px;
    text-decoration: none;

    .friend-name {
      color: $friend-name-blue;
      font-size: 13px;
      margin: 0;
      padding: 15px;
    }

    .friend-name:hover {
      color: $midSoul-blue;
      cursor: pointer;
      font-size: 13px;
    }
  }
}
