@import '../base/fonts.scss';
@import '../base/colors.scss';

.friend-requests-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;

  .friend-request-index-item {
    background: $lightest-gray;
    border-radius: 2px;
    box-shadow: $light-gray 2px 2px 0;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
    width: 520px;
  }
}

.friend-request-flex-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 550px;

  .friend-request-user-img-and-name {
    align-items: center;
    display: flex;
    justify-content: space-between;

    a {
      color: black;
      text-decoration: none;
    }

    .friend-request-img {
      border: 1px solid $medium-gray;
      height:100px;
      width: 100px;
    }

    .friend-request-img:hover {
      border: 1px solid $tab-blue;
    }

    p {
      color: $friend-name-blue;
      font-size: 14px;
      font-weight: bold;
      margin-left: 15px;
    }

    p:hover {
      color: $midSoul-blue;
    }
  }

  .friend-request-buttons {
    display: flex;
    justify-content: flex-end;

    button {
      padding: 15px;
      text-align: center;
      text-transform: uppercase;
    }

    .deny-button {
      background: $light-gray;
      border-radius: 2px;
      color: $darker-gray;
      height: 50%;
      margin-right: 10px;
    }

    .deny-button:hover {
      background: $medium-gray;
      transition: all .2s ease-out;
    }

    .accept-button {
      background: $form-orange;
      border-radius: 2px;
      color: white;
      height: 50%;
      width: 50px;
    }

    .accept-button:hover {
      background: $hover-orange;
      transition: all .2s ease-out;
    }
  }
}
