@import '../base/fonts.scss';
@import '../base/colors.scss';

.friend-requests-index {
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .friend-request-index-item {
    display: flex;
    justify-content: space-between;
    width: 520px;
    background: $lightest-gray;
    border-radius: 2px;
    margin: 20px;
    padding: 10px;
    box-shadow: $light-gray 2px 2px 0;


    .friend-request-flex-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 550px;

      .friend-request-user-img-and-name {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          text-decoration: none;
          color: black;
        }

        .friend-request-img {
          width: 100px;
          height:100px;
          border: 1px solid $medium-gray;
        }

        .friend-request-img:hover {
          border: 1px solid $tab-blue;
        }

        p {
          margin-left: 15px;
          font-size: 14px;
          font-weight: bold;
          color: $friend-name-blue;
        }

        p:hover {
          color: $midSoul-blue;
        }
      }

      .friend-request-buttons {
        display: flex;
        justify-content: flex-end;

        button {
          text-align: center;
          padding: 15px;
        }

        .deny-button {
          background: $light-gray;
          color: $darker-gray;
          height: 50%;
          margin-right: 10px;
          border-radius: 2px;
        }

        .deny-button:hover {
          background: $medium-gray;
          transition: all .2s ease-out;
        }

        .accept-button {
          background: $form-orange;
          color: white;
          height: 50%;
          width: 50px;
          border-radius: 2px;
        }

        .accept-button:hover {
          background: $hover-orange;
          transition: all .2s ease-out;
        }
      }
    }
  }
}
