@import '../base/fonts.scss';
@import '../base/colors.scss';

// From coverr.co
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
  background: $lightest-gray;
  bottom: 0%;
  height: 74vh;
  left: 0%;
  position: relative;
  overflow: hidden;
  width: 100vw;
}

.video-container .poster img {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.video-container .filter {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  z-index: 100;
}

.video-container video {
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.splash-text {
  align-items: center;
  justify-content: center;
  left: 45%;
  max-width: 519px;
  position: absolute;
  text-align: left;
  top: 25%;
  z-index: 100;

  .splash-header {
    font-size: 41px;
    text-transform: uppercase;
  }

  h4 {
    font-size: 16px;
  }
}

.splash-guest {
  font-size: 15px;
}

.button-guest-log-in {
  background-color: $form-orange;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
  font-weight: 500px;
  font-size: 14px;
  letter-spacing: 0.8px;
  line-height: 36px;
  padding: 0 12px;
  text-transform: uppercase;
  transition: background-color 0.2s;
  transition: color 0.05s;
}

.button-guest-log-in:hover {
  background-color: $hover-orange;
}
