@import '../base/fonts.scss';
@import '../base/colors.scss';

.map-form-fields {
  border: 1px solid $medium-gray;
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 15px;

  h3 {
    border-bottom: 1px solid $medium-gray;
    display: flex;
    font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
    font-size: 16px;
    font-weight: 500px;
    justify-content: center;
    margin: 10px 0 16px 0;
    padding-bottom: 4px;
  }
}

.route-details {
  align-items: center;
  border: 1px solid $medium-gray;
  display: flex;
  flex-direction: column;
  margin: 25px;
  margin-right: 30px;

  h3 {
    border-bottom: 1px solid $medium-gray;
    font-size: 16px;
    margin: 10px 16px 0 16px;
    padding-bottom: 4px;
    text-transform: uppercase;
  }
}

.route-distance-flex-container {
  align-items: center;
  display: flex;
  flex-direction: column;

  .distance-tag{
    color: $medium-gray;
    font-size: 14px;
    margin: 8px 0 4px 0;
    text-transform: uppercase;
  }

  .distance-measurement {
    font-size: 20px;
    margin: 0;
  }

  .distance-unit {
    color: $medium-gray;
    font-size: 12px;
    margin: 4px 0 8px 0;
  }
}

.route-elevation-gain-flex-container {
  align-items: center;
  border-top: 1px solid $medium-gray;
  display: flex;
  flex-direction: column;

  .elevation-gain-tag{
    color: $medium-gray;
    font-size: 14px;
    margin: 8px 0 4px 0;
    text-transform: uppercase;
  }

  .elevation-gain-measurement {
    font-size: 20px;
    margin: 0;
  }

  .elevation-gain-unit {
    color: $medium-gray;
    font-size: 12px;
    margin: 4px 0 8px 0;
  }
}

.map-form-fields {

  h3 {
    text-transform: uppercase;
  }

  input[type=text] {
    border: 1px solid $medium-gray;
    border-radius: 3px;
    height: 30px;
    margin-bottom: 20px;
    padding-left: 5px;
    width: 95%;
  }

  input[type=text]:focus, textarea:focus {
    border: 1px solid rgba(81, 203, 238, 1);
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }

  label {
    color: $darker-gray;
    font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
    font-size: 16px;
    font-weight: 500px;
  }

  textarea {
    border-color: $medium-gray;
    border-radius: 3px;
    height: 100px;
    margin-bottom: 20px;
    padding-left: 5px;
    resize: none;
  }

  input[type=submit] {
    background-color: $dark-gray;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
    font-size: 14px;
    font-weight: 500px;
    letter-spacing: 0.8px;
    line-height: 36px;
    padding: 0 12px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.2s;
    transition: color 0.05s;
  }

  input[type=submit]:hover {
    background-color: $darker-gray;
    transition: background-color 0.2s;
  }

  .errors-list {
    background: $error-pink;
    border-radius: 3px;
    margin: 0 auto;
    text-align: left;
    width: 80%;

    ul {
      border-radius: 5px;
      margin: 10px;

      li {
        color: $dark-gray;
        font-size: 14px;
        list-style: circle;
        margin-left: 15px;
      }
    }
  }
}

.route-map-img {

  img {
    border: 1px solid $medium-gray;
    height: 125px;
    margin-bottom: 5px;
    width: 250px;
  }
}

.route-map-img:hover {

  img {
    border: 1px solid $midSoul-blue;
  }
}

.map-flex-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;

  .map-flex-left {
    margin-top: 47px;
  }
}

.map-flex-right {
  margin: 25px;
  width: 90%;

  p {
    color: black;
    font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
    font-size: 14px;
    font-weight: 600;
  }

  .interactive-map {

    button {
      background-color: $dark-gray;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      float:right;
      font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
      font-size: 14px;
      font-weight: 500px;
      letter-spacing: 0.8px;
      line-height: 36px;
      margin-right: 10px;
      padding: 0 12px;
      position: relative;
      text-align: center;
      top: 20px;
      text-transform: uppercase;
      transition: background-color 0.2s;
      transition: color 0.05s;
      z-index: 100;
    }

    button:hover {
      background: $darker-gray;
      transition: all .2s ease-out;
    }

    .map {
      flex-shrink: 0;
      height: 91%;
      position: absolute;
      width: 100%;
    }
  }
}

.route-show-details {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 15px;

  .route-show-stats-and-description-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .route-show-description {

    .description-tag {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
      text-transform: uppercase;
    }

    .description-content {
      color: $dark-gray;
      font-size: 14px;
    }
  }

  .route-icon-and-title {
    align-items: center;
    border-bottom: 1px solid $medium-gray;
    display: flex;
    flex-direction: row;

    i {
      color: $dark-gray;
      font-size: 22px;
      margin-right: 10px;
    }

    h3 {
      color: $dark-gray;
      font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
      font-size: 22px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  p {
    color: black;
    font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
    font-weight: 500;
  }
}

.route-show-links {
  display: flex;
  justify-content: space-between;

  a {
    font-size: 13px;
    padding-bottom: 15px;
  }

  button {
    background-color: $dark-gray;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
    font-size: 14px;
    font-weight: 500px;
    letter-spacing: 0.8px;
    line-height: 36px;
    margin-bottom: 10px;
    padding: 0 12px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.2s;
    transition: color 0.05s;
    z-index: 100;
  }

  button:hover {
    background-color: $darker-gray;
    transition: all .2s ease-out;
  }
}

.route-show-stats-container {
  background: $stats-neutral;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  width: 140px;

  .route-distance-flex-container {
    align-items: center;
    border: 1px solid $medium-gray;
    display: flex;
    flex-direction: column;

    .distance-tag{
      color: $medium-gray;
      font-size: 14px;
      margin: 8px 0 4px 0;
      text-transform: uppercase;
    }

    .distance-measurement {
      font-size: 20px;
      margin: 0;
    }

    .distance-unit {
      color: $medium-gray;
      font-size: 12px;
      margin: 4px 0 8px 0;
    }
  }

  .route-elevation-gain-flex-container {
    align-items: center;
    border-left: 1px solid $medium-gray;
    border-right: 1px solid $medium-gray;
    border-bottom: 1px solid $medium-gray;
    display: flex;
    flex-direction: column;

    .elevation-gain-tag{
      color: $medium-gray;
      font-size: 14px;
      margin: 8px 0 4px 0;
      text-transform: uppercase;
    }

    .elevation-gain-measurement {
      font-size: 20px;
      margin: 0;
    }

    .elevation-gain-unit {
      color: $medium-gray;
      font-size: 12px;
      margin: 4px 0 8px 0;
    }
  }
}

.route-show-flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .interactive-route-show-map {
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-bottom: 20px;
    width: 600px;

    .map {
      flex-shrink: 0;
      height: 60%;
      position: absolute;
      width: 94%;
    }
  }
}

.route-comment-index-and-form {
  margin-top: 90px;

  h2 {
    border-bottom: 1px solid $medium-gray;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 50px;
    padding-bottom: 12px;
    text-transform: uppercase;
  }

  .route-show-new-comment-form {

    .new-comment-form-container {
      margin: 0;
      margin-left: -1px;
      padding-top: 3px;
    }
  }
}


.mini-routes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.routes-index {

  h2 {
    color: $darker-gray;
    font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
    font-size: 27px;
    font-weight: 700;
    justify-content: center;
    margin-top: 15px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }
}

.route-index-item {
  max-width: 250px;
  padding: 20px;

  .route-title {
    font-size: 14px;
    font-weight: 600;
    word-wrap: break-word;
  }

  .route-distance {
    font-size: 12px;
    font-weight: 400;
  }

  .route-title-and-distance {
    display: flex;
    flex-direction: column;

    .route-title {
      margin-bottom: 5px;
    }
  }
}
