@import '../base/fonts.scss';
@import '../base/colors.scss';

.map-form-fields {
  padding: 15px;
  margin: 25px;
  border: 1px solid $medium-gray;
  display: flex;
  flex-direction: column;

  h3 {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
    font-weight: 500px;
    padding-bottom: 4px;
    border-bottom: 1px solid $medium-gray;
    margin: 10px 0 16px 0;
  }
}

.route-details {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin: 25px;
  border: 1px solid $medium-gray;
  align-items: center;

  h3 {
    font-size: 16px;
    margin: 10px 16px 0 16px;
    padding-bottom: 4px;
    border-bottom: 1px solid $medium-gray;
  }


  .route-distance-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .distance-tag{
      text-transform: uppercase;
      color: $medium-gray;
      font-size: 14px;
      margin: 8px 0 4px 0;
    }

    .distance-measurement {
      font-size: 20px;
      margin: 0;
    }

    .distance-unit {
      font-size: 12px;
      color: $medium-gray;
      margin: 4px 0 8px 0;
    }
  }

  .route-elevation-gain-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid $medium-gray;

    .elevation-gain-tag{
      text-transform: uppercase;
      color: $medium-gray;
      font-size: 14px;
      margin: 8px 0 4px 0;
    }

    .elevation-gain-measurement {
      font-size: 20px;
      margin: 0;
    }

    .elevation-gain-unit {
      font-size: 12px;
      color: $medium-gray;
      margin: 4px 0 8px 0;
    }
  }
}

.map-form-fields {
  input[type=text] {
    border: 1px solid $medium-gray;
    border-radius: 3px;
    width: 95%;
    height: 30px;
    margin-bottom: 20px;
    padding-left: 5px;
  }

  input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
  }

  label {
    font-size: 16px;
    font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
    font-weight: 500px;
    color: $darker-gray;
  }

  textarea {
    height: 100px;
    margin-bottom: 20px;
    padding-left: 5px;
    resize: none;
    border-radius: 3px;
    border-color: $medium-gray;
  }

  input[type=submit] {
    background-color: $dark-gray;
    color: white;
    font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
    font-weight: 500px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 5px;
    transition: background-color 0.2s;
    transition: color 0.05s;
    letter-spacing: 0.8px;
    padding: 0 12px;
    cursor: pointer;
    text-align: center;
  }

  input[type=submit]:hover {
    background-color: $darker-gray;
    transition: background-color 0.2s;
  }

  .errors-list {
    width: 80%;
    text-align: left;
    background: $error-pink;
    margin: 0 auto;
    border-radius: 3px;

    ul {
      border-radius: 5px;
      margin: 10px;

      li {
        list-style: circle;
        font-size: 14px;
        color: $dark-gray;
        margin-left: 15px;
      }
    }
  }
}

.route-map-img {
  img {
    height: 125px;
    width: 250px;
    margin-bottom: 5px;
    border: 1px solid $medium-gray;
  }
}

.route-map-img:hover {
  img {
    border: 1px solid $midSoul-blue;
  }
}

.map-flex-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
  .map-flex-left {
    margin-top: 47px;
  }
}

.map-flex-right {
  width: 90%;
  margin: 25px;

  p {
    font-size: 14px;
    color: black;
    font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
    font-weight: 600;
  }

  .interactive-map {
    button {
      position: relative;
      top: 20px;
      float:right;
      margin-right: 10px;
      text-transform: uppercase;
      z-index: 100;
      background-color: $dark-gray;
      color: white;
      font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
      font-weight: 500px;
      font-size: 14px;
      line-height: 36px;
      border-radius: 5px;
      transition: background-color 0.2s;
      transition: color 0.05s;
      letter-spacing: 0.8px;
      padding: 0 12px;
      cursor: pointer;
      text-align: center;
    }

    button:hover {
      background: $darker-gray;
      transition: all .2s ease-out;
    }

    .map {
      position: absolute;
      width: 100%;
      height: 91%;
      flex-shrink: 0;
    }
  }
}

.route-show-details {
  padding: 15px;
  margin: 25px;
  display: flex;
  flex-direction: column;

  .route-show-stats-and-description-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    margin-top: 25px;

    .route-show-stats-container {
      display: flex;
      flex-direction: column;
      background: $stats-neutral;
      margin-right: 30px;
      width: 140px;

      .route-distance-flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $medium-gray;

        .distance-tag{
          text-transform: uppercase;
          color: $medium-gray;
          font-size: 14px;
          margin: 8px 0 4px 0;
        }

        .distance-measurement {
          font-size: 20px;
          margin: 0;
        }

        .distance-unit {
          font-size: 12px;
          color: $medium-gray;
          margin: 4px 0 8px 0;
        }
      }

      .route-elevation-gain-flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-left: 1px solid $medium-gray;
        border-right: 1px solid $medium-gray;
        border-bottom: 1px solid $medium-gray;

        .elevation-gain-tag{
          text-transform: uppercase;
          color: $medium-gray;
          font-size: 14px;
          margin: 8px 0 4px 0;
        }

        .elevation-gain-measurement {
          font-size: 20px;
          margin: 0;
        }

        .elevation-gain-unit {
          font-size: 12px;
          color: $medium-gray;
          margin: 4px 0 8px 0;
        }
      }
    }

    .route-show-description {
      .description-tag {
        text-transform: uppercase;
        font-weight: bold;
      }

      .description-content {
        color: $dark-gray;
        font-size: 14px;
      }
    }
  }

  .route-icon-and-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid $medium-gray;

    i {
      font-size: 22px;
      margin-right: 10px;
      color: $dark-gray;
    }

    h3 {
      text-transform: uppercase;
      font-size: 22px;
      font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
      font-weight: 700;
      color: $dark-gray;
    }
  }

  p {
    font-size: 16px;
    color: black;
    font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
    font-weight: 500;
    margin: 5px;
  }

  .route-show-links {
    display: flex;
    justify-content: space-between;

    a {
      padding-bottom: 15px;
      font-size: 13px;
    }

    button {
      text-transform: uppercase;
      z-index: 100;
      background-color: $dark-gray;
      color: white;
      font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
      font-weight: 500px;
      font-size: 14px;
      line-height: 36px;
      border-radius: 5px;
      transition: background-color 0.2s;
      transition: color 0.05s;
      letter-spacing: 0.8px;
      padding: 0 12px;
      margin-bottom: 10px;
      cursor: pointer;
      text-align: center;
    }

    button:hover {
      background-color: $darker-gray;
      transition: all .2s ease-out;
    }
  }
}

.route-show-flex-container {
  display: flex;
  flex-direction: column;
  width:100%;
  .interactive-route-show-map {
    height: 300px;
    width: 600px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    .map {
      position: absolute;
      width: 94%;
      height: 60%;
      flex-shrink: 0;
    }
  }


  .route-comment-index-and-form {
    margin-top: 180px;

    h2 {
      font-size: 22px;
      text-transform: uppercase;
      border-bottom: 1px solid $medium-gray;
      padding-bottom: 12px;
      margin-bottom: 20px;
      margin-top: 50px;
    }

    .route-show-comments {
      .comments-index {
        .comments-list {
          .comment-index-item {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin: 5px 0 0 0;
            border-bottom: 1px solid $medium-gray;
            margin-top: 15px;
            padding-bottom: 15px;

            .comment-author-img {
              width: 58px;
              height: 58px;
              margin-left: 5px;
            }

            .comment-details {
              display: flex;
              justify-content: space-between;
              width: 100%;
              margin-left: 5px;

              .comment-vertical-flex-container {
                display: flex;
                flex-flow: column;

                .comment-date {
                  margin: 3px;
                  font-size: 12px;
                  padding-left: 4px;
                }

                .comment-author-name-and-comment-body {
                  margin-left: 3px;
                  display: flex;
                  flex-direction: row;

                  .comment-author-name, .comment-body {
                    margin-top: 3px;
                    font-size: 13px;
                  }

                  .comment-author-name {
                    font-weight: bold;
                  }

                  .comment-body {
                    margin-left: 1px;
                  }

                  a {
                    text-decoration: none;
                    margin-right: 1px;

                    p {
                      color: $midSoul-blue;
                    }
                  }

                  a:hover {
                    p {
                      color: $hover-blue;
                    }
                  }
                }
              }
            }

            .delete-comment {
              margin-right: 15px;
              color: $medium-gray;

              button {
                font-size: 13px;
              }

              button:hover {
                color: $dark-gray;
                transition: all .2s ease-out;
              }
            }
          }
        }
      }
    }

    .route-show-new-comment-form {
      .new-comment-form-container {
        margin: 0;
        padding-top: 3px;
        margin-left: -1px;

        .new-comment-textarea-and-submit-and-user-img {
          display: flex;
          flex-direction: row;
          align-items: center;

          a {
            margin-left: 5px;

            img {
              width: 52.66px;
              height: 52.66px;
              margin-right: 15px;
              margin-bottom: 3px;
            }
          }

          input[type=text] {
            border: 1px solid $medium-gray;
            border-radius: 3px;
            margin-right: 15px;
            padding-left: 5px;
            height: 31px;
            width: 560px;
          }

          input[type=text]:focus {
            border: 1px solid $teal;
            transition: all .3s ease-out;
          }

          input[type=submit] {
            border: 1px solid $teal;
            border-radius: 3px;
            width: 76px;
            height: 34px;
            text-align: center;
            color: $teal;
            font-weight: bold;
            font-size: 15px;
          }

          input[type=submit]:hover {
            border: 1px solid $hover-teal;
            border-radius: 3px;
            height: 34px;
            text-align: center;
            color: $hover-teal;
            font-weight: bold;
            font-size: 15px;
            transition: all .3s ease-out;
          }
        }
      }
    }
  }
}


.mini-routes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.routes-index {
  h2 {
    justify-content: center;
    text-align: center;
    font-size: 27px;
    font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
    margin-top: 15px;
    text-transform: uppercase;
    color: $darker-gray;
  }
}

.route-index-item {
  padding: 20px;
  max-width: 250px;

  .route-title {
    font-size: 14px;
    font-weight: 600;
    word-wrap: break-word;
  }

  .route-distance {
    font-size: 12px;
    font-weight: 400;
  }

  .route-title-and-distance {
    display: flex;
    flex-direction: column;

    .route-title {
      margin-bottom: 5px;
    }
  }
}
