@import '../base/fonts.scss';
@import '../base/colors.scss';

.log-run-main {
  // display: flex;
  // justify-content: center;
  h3 {
    display: block;
    margin: 0 auto;
    font-size: 22px;
    font-family: Helvetica, Arial, $sans-serif;
    font-weight: 500px;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid $medium-gray;
    text-align: center;
  }
}

.new-run-flex-container {
  display: flex;
  justify-content: flex-start;

}


.new-run-flex-left {
  form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-right: 1px solid $medium-gray;
    border-bottom: 1px solid $medium-gray;
    border-top: 1px solid $medium-gray;

    border-radius: 5px;
    margin-top: 50px;


    .errors-list {
      width: 90%;
      text-align: left;

      ul {
        border-radius: 5px;
        margin-bottom: 20px;
        border: 1px solid $darker-gray;
        background: $light-gray;
        li {
          // list-style: circle;
          font-size: 14px;
          color: $dark-gray;
          margin-left: 7px;
        }
      }
    }


    label {
      font-size: 18px;
      font-family: Helvetica, Arial, $sans-serif;
      font-weight: 500px;
      color: $darker-gray;
    }

    textarea {
      height: 100px;
      width: 93%;
      margin-bottom: 20px;
    }

    input[type=text], input[type=date],
    input[type=number], input[type=select] {
      border: 1px solid $medium-gray;
      border-radius: 3px;
      width: 95%;
      height: 30px;
      margin-bottom: 20px;
    }

    input[type=submit] {
      background-color: $darker-gray;
      color: white;
      font-family: Helvetica, Arial, $sans-serif;
      font-weight: 500px;
      font-size: 14px;
      line-height: 36px;
      border-radius: 5px;
      transition: background-color 0.2s;
      transition: color 0.05s;
      letter-spacing: 0.8px;
      padding: 0 12px;
      cursor: pointer;
      text-align: center;
      margin-top: 20px;
    }

    .run-duration-fields {
      input {
        width: 10%;
      }
    }
  }

}

.new-run-flex-right {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  width: 60%;
  margin-top: 50px;
}


.runs-index {
  h2 {
    justify-content: center;
    text-align: center;
    font-size: 22px;
    font-family: Helvetica, Arial, $sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
    margin-top: 15px;
    border-bottom: 1px solid $medium-gray;
    text-transform: uppercase;
    color: $darker-gray;
  }


  .mini-runs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .run-index-item{
      padding: 20px;

      .run-date{
        font-size: 14px;
        font-weight: 600;
      }

      .run-distance, .run-pace {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}

// //////////////////////////////////////////

.run-show-details {
  padding: 15px;
  margin: 25px;
  display: flex;
  flex-direction: column;

  h3 {
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-family: Helvetica, Arial, $sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid $medium-gray;
  }

  h4 {
    font-size: 20px;
    font-family: Helvetica, Arial, $sans-serif;
    font-weight: 700;
    color: $midSoul-blue;
  }

  h5 {
    font-size: 18px;
    font-family: Helvetica, Arial, $sans-serif;
    font-weight: 700;
    color: $midSoul-blue;
  }

  p {
    font-size: 16px;
    color: $midSoul-blue;
    font-family: $sans-serif;
    font-weight: 500;
  }

  .run-show-links {
    display: flex;
    justify-content: space-between;


    a {
      padding-bottom: 15px;
      font-size: 13px;
    }

    button {
      text-transform: uppercase;
      z-index: 100;
      background-color: $dark-gray;
      color: white;
      font-family: Helvetica, Arial, $sans-serif;
      font-weight: 500px;
      font-size: 14px;
      line-height: 36px;
      border-radius: 5px;
      transition: background-color 0.2s;
      transition: color 0.05s;
      letter-spacing: 0.8px;
      padding: 0 12px;
      margin-bottom: 10px;
      cursor: pointer;
      text-align: center;
    }
  }
}

.run-show-map {
  display: flex;
  align-items: center;
  align-content: center;
  // margin: 10px;
  // margin: 0 auto;
  width: 60%;
  margin-top: 15px;
}

.run-show-user-thumb-container {
  width: 100px;
  height: 100px;
}

.run-show-base-details-flex-container {
  display: flex;
  align-content: flex-start;

  h4 {
    padding: 25px;
  }
}

.run-show-comments {
  padding-top: 30px;
  // margin: 13px;
}

.run-show-comments {
  margin-bottom: 20px;

  .comments-index{
    width: 59%;
    margin: 0px;
  }

}


.run-show-comments, .run-show-new-comment-form {
  width: 90%;
  margin: 0px;

  .comments-list {
    max-height: 1000px;
    overflow-y: scroll;
  }
  .new-comment-textarea-and-submit {
    width: 70%;
    textarea {
      width: 60%;
    }
  }

  .new-comment-form-container {
    width:90%;
  }
}

.run-show-comments .new-comment-textarea-and-submit textarea,
.run-show-new-comment-form .new-comment-textarea-and-submit textarea {
  width: 80%;
}

// .run-show-new-comment-form {
//   .new-comment-form-container {
//     .new-comment-textarea-and-submit {
//       width: 70%;
//       margin: 0px;
//
//     }
//   }
// }
