@import '../base/fonts.scss';
@import '../base/colors.scss';

// NEW RUN

.log-run-main {

  h3 {
    border-bottom: 1px solid $medium-gray;
    display: block;
    font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
    font-size: 22px;
    font-weight: 500px;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
    text-align: center;
    text-transform: uppercase;
  }
}

.new-run-flex-container {
  display: flex;
  justify-content: flex-start;
}

.new-run-flex-left {

  form {
    border: 1px solid $medium-gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 50px;
    padding: 20px;

    .errors-list {
      margin: 0 auto;
      text-align: left;
      width: 90%;

      ul {
        background: $error-pink;
        border: 1px solid $error-pink;
        border-radius: 5px;
        margin-bottom: 20px;

        li {
          color: $dark-gray;
          font-size: 14px;
          list-style: circle;
          list-style-position: inside;
          margin: 7px;
        }
      }
    }

    label {
      color: $darker-gray;
      font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
      font-size: 18px;
      font-weight: 500px;
    }

    textarea {
      border-color: $medium-gray;
      border-radius: 3px;
      height: 100px;
      margin-bottom: 20px;
      padding-left: 5px;
      resize:none;
      width: 93%;
    }

    input[type=text], input[type=date],
    input[type=number], input[type=select] {
      border: 1px solid $medium-gray;
      border-radius: 3px;
      height: 30px;
      margin-bottom: 20px;
      padding-left: 5px;
      width: 95%;
    }

    input[type=text]:focus, textarea:focus,
    input[type=date]:focus, input[type=number]:focus,
    select:focus {
      border: 1px solid rgba(81, 203, 238, 1);
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    }


    input[type=submit] {
      background-color: $dark-gray;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
      font-size: 14px;
      font-weight: 500px;
      letter-spacing: 0.8px;
      line-height: 36px;
      margin-top: 20px;
      padding: 0 12px;
      text-align: center;
      text-transform: uppercase;
      transition: background-color 0.2s;
      transition: color 0.05s;
    }

    input[type=submit]:hover {
      background-color: $darker-gray;
      transition: all .2s ease-out;
    }

    .run-duration-fields {
      .duration-with-margin {
        margin-left: 7px;
      }

      input {
        width: 10%;
      }
    }


  }
}

.new-run-flex-right {
  align-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  width: 60%;
}


// RUNS INDEX

.empty-runs, .runs-index {

  h2 {
    color: $dark-gray;
    display: flex;
    font-size: 32px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 15px;
    padding: 15px;
    text-transform: uppercase;
  }
}

.empty-runs {

  h4 {
    display: flex;
    font-size: 18px;
    justify-content: center;
    margin-top: 15px;
  }
}

.runs-index {

  .mini-runs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.run-index-item {
  padding: 20px;

  a {

    img {
      border: 1px solid $medium-gray;
    }
  }

  a:hover {

    img {
      border: 1px solid $midSoul-blue;
      transition: all .2s ease-out;
    }
  }

  .run-date{
    font-size: 14px;
    font-weight: 600;
  }

  .run-distance, .run-pace {
    font-size: 14px;
    font-weight: 600;
    margin-right: 25px;
  }
}


// RUN SHOW

.run-show-details {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 15px;

  .run-icon-and-title {
    align-items: center;
    border-bottom: 1px solid $medium-gray;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;

    img {
      font-size: 22px;
      height: 22px;
      margin-right: 10px;
      width: 22px;
    }

    h3 {
      color: $dark-gray;
      font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
      font-size: 22px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  h4 {
    color: black;
    font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
    font-size: 20px;
    font-weight: 700;
  }

  p {
    color: black;
    font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
    font-weight: 500;
  }
}

.run-show-base-details-flex-container {
  align-content: flex-start;
  display: flex;

  .run-show-user-thumb-container {
    height: 100px;
    width: 100px;
  }
}

.run-show-stats-container {
  display: flex;
  flex-direction: row;
  margin: 25px 0 25px 0;
  width: 300px;

  .run-distance-flex-container,
  .run-duration-flex-container,
  .run-pace-flex-container {
    align-items: center;
    background: $stats-neutral;
    display: flex;
    flex-direction: column;
    width: 33.33%;
  }

  .run-distance-flex-container {
    border: 1px solid $medium-gray;
  }

  .run-pace-flex-container, .run-duration-flex-container {
    border-bottom: 1px solid $medium-gray;
    border-right: 1px solid $medium-gray;
    border-top: 1px solid $medium-gray;
  }

  .tag {
    color: $medium-gray;
    font-size: 14px;
    margin: 8px 0 4px 0;
    text-transform: uppercase;
  }

  .measurement {
    font-size: 20px;
    margin: 0;
  }

  .unit {
    color: $medium-gray;
    font-size: 12px;
    margin: 4px 0 8px 0;
  }
}

.run-show-links {
  display: flex;
  justify-content: space-between;

  a {
    font-size: 13px;
    padding-bottom: 15px;
  }

  button {
    background-color: $dark-gray;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
    font-size: 14px;
    font-weight: 500px;
    letter-spacing: 0.8px;
    line-height: 36px;
    margin-bottom: 10px;
    padding: 0 12px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.2s;
    transition: color 0.05s;
    z-index: 100;
  }

  button:hover {
    background-color: $darker-gray;
    transition: all .2s ease-out;
  }
}

.run-show-map {
  align-content: center;
  align-items: center;
  display: flex;
  margin-top: 15px;
  width: 60%;
}


.run-show-user-thumb-container, .run-show-map {

  img {
    border: 1px solid $light-gray;
  }

  img:hover {
    border: 1px solid $midSoul-blue;
    transition: all .2s ease-out;
  }
}

.run-comment-index-and-form {
  margin-top: 30px;

  h2 {
    border-bottom: 1px solid $medium-gray;
    font-size: 22px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    text-transform: uppercase;
  }

  .run-show-new-comment-form {
    margin: 0;
    margin-left: -1px;
    padding-top: 3px;
  }
}

.run-date-and-description-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;

  .run-date {
    font-size: 15px;
    padding: 0;
  }
}
