@import '../base/fonts.scss';
@import '../base/colors.scss';

// NEW RUN
.log-run-main {
  h3 {
    display: block;
    margin: 0 auto;
    font-size: 22px;
    font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
    font-weight: 500px;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid $medium-gray;
    text-align: center;
  }
}

.new-run-flex-container {
  display: flex;
  justify-content: flex-start;
}

.new-run-flex-left {
  form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid $medium-gray;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 10px;

    .errors-list {
      width: 90%;
      text-align: left;
      margin: 0 auto;

      ul {
        border-radius: 5px;
        margin-bottom: 20px;
        border: 1px solid $error-pink;
        background: $error-pink;

        li {
          list-style: circle;
          list-style-position: inside;
          font-size: 14px;
          color: $dark-gray;
          margin: 7px;
        }
      }
    }

    label {
      font-size: 18px;
      font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
      font-weight: 500px;
      color: $darker-gray;
    }

    textarea {
      height: 100px;
      width: 93%;
      margin-bottom: 20px;
      padding-left: 5px;
      resize:none;
      border-radius: 3px;
      border-color: $medium-gray;
    }

    input[type=text], input[type=date],
    input[type=number], input[type=select] {
      border: 1px solid $medium-gray;
      border-radius: 3px;
      width: 95%;
      height: 30px;
      margin-bottom: 20px;
      padding-left: 5px;
    }

    input[type=text]:focus, textarea:focus,
    input[type=date]:focus, input[type=number]:focus,
    select:focus {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      border: 1px solid rgba(81, 203, 238, 1);
    }


    input[type=submit] {
      background-color: $dark-gray;
      color: white;
      font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
      font-weight: 500px;
      font-size: 14px;
      line-height: 36px;
      border-radius: 5px;
      transition: background-color 0.2s;
      transition: color 0.05s;
      letter-spacing: 0.8px;
      padding: 0 12px;
      cursor: pointer;
      text-align: center;
      margin-top: 20px;
    }

    input[type=submit]:hover {
      background-color: $darker-gray;
      transition: all .2s ease-out;
    }

    .run-duration-fields {
      input {
        width: 10%;
      }
    }
  }
}

.new-run-flex-right {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  width: 60%;
  margin-top: 50px;
}


// RUNS INDEX

.empty-runs, .runs-index {
  h2 {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 32px;
    font-weight: bold;
    color: $dark-gray;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 15px;
  }
}

.empty-runs {
  h4 {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 15px;
  }
}

.runs-index {

  .mini-runs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .run-index-item{
      padding: 20px;

      a {
        img {
          border: 1px solid $medium-gray;
        }
      }

      a:hover {
        img {
          border: 1px solid $midSoul-blue;
        }
      }

      .run-date{
        font-size: 14px;
        font-weight: 600;
      }

      .run-distance, .run-pace {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}


// RUN SHOW
.run-show-details {
  padding: 15px;
  margin: 25px;
  display: flex;
  flex-direction: column;

  .run-icon-and-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid $medium-gray;
    margin-bottom: 25px;

    img {
      width: 22px;
      height: 22px;
      font-size: 22px;
      margin-right: 10px;
    }

    h3 {
      text-transform: uppercase;
      font-size: 22px;
      font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
      font-weight: 700;
      color: $dark-gray;
    }
  }

  .run-show-base-details-flex-container {
    display: flex;
    align-content: flex-start;

    .run-show-user-thumb-container {
      width: 100px;
      height: 100px;
    }
  }

  h4 {
    font-size: 20px;
    font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
    font-weight: 700;
    color: black;
  }

  p {
    font-size: 16px;
    color: black;
    font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
    font-weight: 500;
  }

  .run-show-stats-container {
    display: flex;
    flex-direction: row;
    margin: 25px 0 25px 0;
    width: 300px;

    .run-distance-flex-container,
    .run-duration-flex-container,
    .run-pace-flex-container {
      background: $stats-neutral;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33.33%;
    }

    .run-distance-flex-container {
      border: 1px solid $medium-gray;
    }

    .run-pace-flex-container, .run-duration-flex-container {
      border-top: 1px solid $medium-gray;
      border-right: 1px solid $medium-gray;
      border-bottom: 1px solid $medium-gray;
    }

    .tag {
      text-transform: uppercase;
      color: $medium-gray;
      font-size: 14px;
      margin: 8px 0 4px 0;
    }

    .measurement {
      font-size: 20px;
      margin: 0;
    }

    .unit {
      font-size: 12px;
      color: $medium-gray;
      margin: 4px 0 8px 0;
    }
  }

  .run-show-links {
    display: flex;
    justify-content: space-between;

    a {
      padding-bottom: 15px;
      font-size: 13px;
    }

    button {
      text-transform: uppercase;
      z-index: 100;
      background-color: $dark-gray;
      color: white;
      font-family: 'Open Sans', Helvetica, Arial, $sans-serif;
      font-weight: 500px;
      font-size: 14px;
      line-height: 36px;
      border-radius: 5px;
      transition: background-color 0.2s;
      transition: color 0.05s;
      letter-spacing: 0.8px;
      padding: 0 12px;
      margin-bottom: 10px;
      cursor: pointer;
      text-align: center;
    }

    button:hover {
      background-color: $darker-gray;
      transition: all .2s ease-out;
    }
  }

  .run-show-map {
    display: flex;
    align-items: center;
    align-content: center;
    width: 60%;
    margin-top: 15px;
  }

  .run-comment-index-and-form {
    margin-top: 30px;

    h2 {
      font-size: 20px;
      text-transform: uppercase;
      border-bottom: 1px solid $medium-gray;
      padding-bottom: 12px;
      margin-bottom: 20px;
    }

    .run-show-comments {
      .comments-index {
        .comments-list {
          .comment-index-item {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin: 5px 0 0 0;
            border-bottom: 1px solid $medium-gray;
            margin-top: 15px;
            padding-bottom: 15px;

            .comment-author-img {
              width: 58px;
              height: 58px;
              margin-left: 5px;
            }

            .comment-details {
              display: flex;
              justify-content: space-between;
              width: 100%;
              margin-left: 5px;

              .comment-vertical-flex-container {
                display: flex;
                flex-flow: column;

                .comment-date {
                  margin: 3px;
                  font-size: 12px;
                  padding-left: 4px;
                }

                .comment-author-name-and-comment-body {
                  margin-left: 3px;
                  display: flex;
                  flex-direction: row;

                  .comment-author-name, .comment-body {
                    margin-top: 3px;
                    font-size: 13px;
                  }

                  .comment-author-name {
                    font-weight: bold;
                    margin-left: 4px;
                  }

                  .comment-body {
                    margin-left: 1px;
                  }

                  a {
                    text-decoration: none;
                    margin-right: 1px;

                    p {
                      color: $midSoul-blue;
                    }
                  }

                  a:hover {
                    p {
                      color: $hover-blue;
                    }
                  }
                }
              }
            }

            .delete-comment {
              margin-right: 15px;
              color: $medium-gray;

              button {
                font-size: 13px;
              }

              button:hover {
                color: $dark-gray;
                transition: all .2s ease-out;
              }
            }
          }
        }
      }
    }

    .run-show-new-comment-form {
      margin: 0;
      padding-top: 3px;
      margin-left: -1px;

      .new-comment-textarea-and-submit-and-user-img {
        display: flex;
        flex-direction: row;
        align-items: center;

        a {
          margin-left: 5px;

          img {
            width: 52.66px;
            height: 52.66px;
            margin-right: 15px;
            margin-bottom: 3px;
          }
        }

        input[type=text] {
          border: 1px solid $medium-gray;
          border-radius: 3px;
          margin-right: 15px;
          padding-left: 5px;
          height: 31px;
          width: 560px;
        }

        input[type=text]:focus {
          border: 1px solid $teal;
          transition: all .3s ease-out;
        }

        input[type=submit] {
          border: 1px solid $teal;
          border-radius: 3px;
          width: 76px;
          height: 34px;
          text-align: center;
          color: $teal;
          font-weight: bold;
          font-size: 15px;
        }

        input[type=submit]:hover {
          border: 1px solid $hover-teal;
          border-radius: 3px;
          height: 34px;
          text-align: center;
          color: $hover-teal;
          font-weight: bold;
          font-size: 15px;
          transition: all .3s ease-out;
        }
      }
    }
  }
}

.run-date-and-description-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;

  .run-date {
    padding: 0;
    font-size: 15px;
  }
}
