$medium-gray: #9297a3;
$dark-gray: #48494c;
$darker-gray: #353538;
$darkest-gray: #252526;
$light-gray: #D9D9D9;
$lightest-gray: #edeff2;
$form-green: #97bf11;
$form-orange: #ff8714;
$hover-orange: #d37113;
$hover-green: #8cb20c;
$hover-blue: #04314f;
$midSoul-blue: #0c5d94;
$tab-blue: #2F98D9;
$teal: #07B1C1;
$hover-teal: #05838e;
$feeditem-background: #F8F8F8;
